.app-container{
    display: flex;
}
.card-body{
    display: flex;
    flex-wrap: wrap;
    display: block;
}
.content{
    width: 100%;
}

.sidebar{
    min-height: 800px;
}

.create-post {
    max-width: 45%;
    align-items: center;
    margin-left: 28%;
    margin-top: 6%;
}
.post_card{
    margin:20px 25px;
    
}
.reaction{
    width: 100%;
    margin:15px 0 0 0;
}
span.badge.text-bg-primary.hashtag {
    margin: 2px;
}
#welcome{
    margin:70px 0px;
}
.spinner{
    margin:10% 0% !important;
}
svg.bi.pe-none.me-2 {
    display: none;
}
.icon{
    color:rgb(255,193,7);
    font-size: 22px;
    margin: 2px 10px 2px 0px;
}