.app-container{
    display: flex;
}
.card-body{
    display: flex;
    flex-wrap: wrap;
    display: block;
}
.content{
    width: 100%;
}

.sidebar{
    min-height: 800px;
}

.createPost{
    max-width: 45%;
    align-items: center;
    margin-left: 28%;
    margin-top: 6%;
}
.post_card{
    margin:20px 25px;
    
}
.reaction{
    width: 100%;
    margin:15px 0 0 0;
}
span.badge.text-bg-primary.hashtag {
    margin: 2px;
}
#welcome{
    margin:70px 0px;
}
.spinner{
    margin:10% 0% !important;
}